@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap');
.eng-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.logo-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.kor-font {
  font-family: 'LeferiPoint-WhiteObliqueA';
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400 500 600;
  font-style: normal;
}
.title-font {
  font-family: 'Pretendard-Regular';
}

/* PC (해상도 1468px)*/ 
@media all and (min-width:1468px) {
  /* base.html */
  .my-container {
    max-width: 1468px;
    margin: 0 auto;
    background-color: #f8f6f39d;
  }
  
  .nav {
    background-color: #CEB39F;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    /* box-shadow: 0px 0px 20px #948173b0; */
  }
  .nav-logo {
    font-weight: bold;
    font-size: 23px !important;
  }
  .nav>div {
    display: flex;
    width: 1468px;
    margin: 0 auto;
    justify-content: end;
  }
  .nav>div>ul {
    padding: 0;
    margin: 0;
  }
  .my-navitem { 
    list-style: none;
    padding: 0 23px;
  }
  .my-navitem>a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 50px;
  }

  /* index.html */
  .index-logo {
    padding: 60px 0 30px;
    text-align: center;
    font-size: 45px;
  }
  .index-logo > a{
    color: black;
    text-decoration: none;
  }

  .search-form {
    text-align: center;
  }
  .search-input {
    border-radius: 50px;
    width: 430px;
    height: 38px;
    background-color: transparent;
    border: 3px solid #9E816C;
    padding: 0 16px;
  }
  .search-btn {
    padding: 0 20px;
    height: 38px;
    background-color: #9E816C;
    color:#f8f6f3;
    border: 0;
    border-radius: 20px;
  }

  .index-tags-div {
    margin: 70px 0 38px;
    text-align: center;
  }
  .tag-input {
    display: none;
  }
  .tags {
    display: inline-block;
    padding: 6px 15px 2px;
    margin: 8px 13px;
    background-color: #D9D9D9;
    border-radius: 20px;
    font-size: 15px;
  }
  .tag-input:checked + label {
    background-color: #CEB39F;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    width: 420px;
    height: 250px;
    object-fit: cover;
  }
  .index-arrow {
    color:#9E816C;
  }
  .swiper-pagination-bullet-active {
    background:#000000 !important;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: none !important;
    width: 40px !important;
    margin-left: 20px;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: none !important;
    width: 40px !important;
    margin-right: 20px;
  }
  .index-container {
    width: 1320px;
    margin: 0 auto;
  }
  .index-article-container {
    width: 1320px;
    margin: 60px auto;
  }
  .index-article-container>article {
    padding: 20px 0;
  }
  .index-title {
    display: flex;
    justify-content: space-between;
  }
  .index-title>h2 {
    font-size: 23px;
    font-weight: bold;
  }
  .index-title>a {
    color: #767676;
    text-decoration: none;
  }
  .index-title>a>h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .index-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .index-content a {
    color:#000000;
    text-decoration: none;
  }
  .index-content img {
    width: 310px;
    height: 250px;
    object-fit: cover;
  }
  .index-content-cafe-info {
    margin-bottom: 30px;
  }
  .index-content-cafe-info h2 {
    font-size: 20px;
    margin-bottom: 0;
    padding-top: 3px;
    font-weight: 500;
  }
  .index-message>svg {
    width: 14px;
    margin: 0 5px 0 10px;
    color:#767676;
  }
  .index-message>span {
    color:#767676;
    font-size: 14px;
  }
  .index-content-cafe-info>h3 {
    font-size: 16px;
    margin: 0;
  }
  .index-heart {
    color: #DE1A1A;
    width: 16px;
  }

  /* accounts */
  .form-div {
    padding: 100px 150px;
  }
  .login-form-div {
    padding: 100px 550px;
  }

  /* detail.html */
  .detail-img-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .detail-img-box>div {
    display: inline-block;
    width: 20%;
    height: 20vw;
    overflow: hidden;
  }
  .detail-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .detail-black {
    position: relative;
  }
  .detail-black-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
  }

  .detail-box {
    width: 1320px;
    margin: 0 auto;
    padding: 60px 100px;
  }
  .detail-box h1 {
    font-size: 45px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .detail-btn {
    color:#f8f6f3;
    text-decoration: none;
  }
  /* .detail-btn>div {
    display: inline-block;
    padding: 6px 15px 4px;
    margin: 8px 10px;
    background-color:#9E816C;
    border-radius: 20px;
    font-size: 17px;
  } */
  .cafe-table {
    margin: 20px 0;
    font-size: 18px;
  }
  .cafe-table .th {
    padding-right: 30px;
    color:#767676;
  }
  .cafe-table td>a {
    color:#9E816C;
    text-decoration: none;
  }
  .detail-tags {
    display: inline-block;
    background-color: #CEB39F;
    margin: 0 16px 0 0;
  }
  .hr {
    color:#9E816C;
    margin: 50px 0;
  }
  .detail-review-box>div {
    margin-bottom: 30px;
  }
  .detail-user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .detail-user-profile img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
  .detail-user-profile a {
    color:#000000;
    text-decoration: none;
  }
  .detail-user-profile p {
    margin: 0;
    font-size: 17px;
  }
  .detail-user-comment {
    width: 900px;
    margin-left: 30px;
  }
  .detail-user-comment p {
    margin-bottom: 5px;
    color:#767676;
  }
  .detail-empty {
    text-align: center;
    font-size: 17px;
  }
  /* articles/create_comment */
  .comment-form {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    padding: 30px 50px;
    border: 0;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #9e816c7e;
  }
  .comment-form:focus-visible {
    /* border: 1px solid #9E816C; */
  }
  .comment-title {
    margin: 30px 0;
  }
  .image-upload {
    width: 1000px;
    margin: 0 auto;
  }
  .image-upload img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #9e816c7e;
  }
  .comment-form-tags {
    width: 1000px;
    margin: 30px auto;
  }
  .comment-submit-btn {
    width: 1000px;
    margin: 30px auto;
  }
  .comment-submit-btn>button{
    background-color: #CEB39F;
    width: 100%;
    padding: 7px;
    border-radius: 10px;;
    border: 0;
    font-size: 18px;
  }
}

/* 컨테이너 사이즈 */
@media all and (min-width:1024px) and (max-width:1467px) {
  /* base.html */
  .my-container {
    max-width: 100.0000vw;
    margin: 0 auto;
    background-color: #f8f5f39d;
  }
  
  .nav {
    background-color: #CEB39F;
    height: 3.4060vw;
    position: sticky;
    top: 0;
    z-index: 10;
    /* box-shadow: 0.0000vw 0.0000vw 1.3624vw #948173b0; */
  }
  .nav-logo {
    font-weight: bold;
    font-size: 1.5668vw !important;
  }
  .nav>div {
    display: flex;
    width: 100.0000vw;
    margin: 0 auto;
    justify-content: end;
  }
  .nav>div>ul {
    padding: 0;
    margin: 0;
  }
  .my-navitem { 
    list-style: none;
    padding: 0 1.5668vw;
  }
  .my-navitem>a {
    text-decoration: none;
    color: black;
    font-size: 1.0899vw;
    line-height: 3.4060vw;
  }

  /* index.html */
  .index-logo {
    padding: 3.4060vw 0 2.0436vw;
    color: black;
    text-align: center;
    font-size: 3.0654vw;
  }
  .search-form {
    text-align: center;
  }
  .search-input {
    border-radius: 3.4060vw;
    width: 29.2916vw;
    height: 2.5886vw;
    background-color: transparent;
    border: 0.2044vw solid #9E816C;
    padding: 0 1.0899vw;
  }
  .search-btn {
    padding: 0 1.3624vw;
    height: 2.5886vw;
    background-color: #9E816C;
    color:#f8f6f3;
    border: 0;
    border-radius: 1.3624vw;
  }

  .index-tags-div {
    margin: 2.5886vw 0;
    text-align: center;
  }
  .tag-input {
    display: none;
  }
  .tags {
    display: inline-block;
    padding: 0.4087vw 1.0218vw 0.1362vw;
    margin: 0.5450vw 0.8856vw;
    background-color: #D9D9D9;
    border-radius: 1.3624vw;
    font-size: 1.0218vw;
  }
  .tag-input:checked + label {
    background-color: #CEB39F;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    width: 28.6104vw;
    height: 17.0300vw;
    object-fit: cover;
  }
  .index-arrow {
    color: #000000;
  }
  .swiper-pagination-bullet-active {
    background:#000000 !important;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: none !important;
    width: 2.7248vw !important;
    margin-left: 1.3624vw;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: none !important;
    width: 2.7248vw !important;
    margin-right: 1.3624vw;
  }
  .index-container {
    width: 89.9183vw;
    margin: 0 auto;
  }
  .index-article-container {
    width: 89.9183vw;
    margin: 4.0872vw auto;
  }
  .index-article-container>article {
    padding: 1.3624vw 0;
  }
  .index-title {
    display: flex;
    justify-content: space-between;
  }
  .index-title>h2 {
    font-size: 1.4986vw;
    font-weight: bold;
  }
  .index-title>a {
    color: #767676;
    text-decoration: none;
  }
  .index-title>a>h3 {
    font-size: 1.0899vw;
    font-weight: bold;
    margin: 0;
  }
  .index-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .index-content img {
    width: 21.1172vw;
    height: 17.0300vw;
    object-fit: cover;
  }

  /* accounts */
  .form-div {
    padding: 6.8120vw 10.2180vw;
  }
  .login-form-div {
    padding: 6.8120vw 37.4659vw;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  
}