{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block nocontainer %}
<div class="detail-img-box">
  <div class="detail-black">
    <img src="{{ cafe.picture3 }}"/>
    <div class="detail-black-box"></div>
  </div>
  <div>
    <img src="{{ cafe.picture1 }}" />
  </div>
  <div>
    <img src="{{ cafe.picture2 }}" />
  </div>
  <div>
    <img src="{{ cafe.picture3 }}" />
  </div>
  <div class="detail-black">
    <img src="{{ cafe.picture1 }}"/>
    <div class="detail-black-box"></div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="detail-box">
  <div class="d-flex justify-content-between align-items-center title-font">
    <div class="d-flex align-items-center">
      <h1 class="d-inline-block">{{ cafe.name }}</h1>
      <div class="d-inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        {{ cafe.hits }}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
          <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
        </svg>
        {{ cafe.score }}
      </div>
    </div>
    <div>
      <!-- <a href="" class="detail-btn"><div>찜하기</div></a>
      <a href="" class="detail-btn"><div>리뷰쓰기</div></a> -->

      <!-- 찜이 되면 -->
      {% if request.user in cafe.bookmark.all %}
      <i id="like-btn" data-cafe-id="{{ cafe.pk }}" class="bi bi-heart-fill"></i>
      <a href="" id="like-btn" data-article-id="{{ cafe.pk }}">
      <a href="" class="text-decoration-none">
        <lord-icon
          src="https://cdn.lordicon.com/hqrgkqvs.json"
          trigger="loop"
          style="width:60px;height:60px">
        </lord-icon>
      </a>

      <!-- 찜이 안돼있으면 -->
      {% else %}
      <i id="like-btn" data-cafe-id="{{ cafe.pk }}" class="bi bi-heart"></i>
      <a href="" id="like-btn" data-article-id="{{ cafe.pk }}">

      <!-- 찜이 되면 -->
      <a href="" class="text-decoration-none">
        <lord-icon
          src="https://cdn.lordicon.com/rjzlnunf.json"
          trigger="hover"
          colors="primary:#121331,secondary:#9e816c"
          style="width:60px;height:60px">
        </lord-icon>
      </a>
      {% endif %}

      <!-- 리뷰쓰기 버튼 -->
      <a href="{% url 'articles:create_comment' cafe.pk %}" class="text-decoration-none">
        <lord-icon
          src="https://cdn.lordicon.com/qtqvorle.json"
          trigger="hover"
          colors="outline:#121331,primary:#9e816c,secondary:#f8f6f3,tertiary:#9e816c"
          stroke="80"
          style="width:60px;height:60px">
        </lord-icon></div>
      </a>
    </div>
  </div>
  <!-- 테이블 -->
  <table class="cafe-table title-font">
    <tbody>
      <tr>
        <td class="th">주소</td>
        <td>{{ cafe.address }}</td>
      </tr>
      <tr>
        <td class="th">지도</td>
        <td><a href="{{ cafe.map_url }}"> {{ cafe.name }} 지도보기</a></td>

      </tr>
      <tr>
        <td class="th">전화번호</td>
        <td>{{ cafe.telephone }}</td>
      </tr>
      <tr>
        <td class="th">영업시간</td>
        <td>{{ cafe.opening }}</td>
      </tr>
    </tbody>
  </table>
  <!-- 해시태그 -->
  <div class="kor-font fw-bold">
    {% for tag in hashtag %}
    <div class="tags detail-tags">{{ tag }}</div>
    {% endfor %}
  </div>

  <hr class="hr">
  
  <!-- 리뷰 -->
  <div class="detail-review-box title-font">
    {% for com in comment %}
    <div class="d-flex justify-content-center">
      <!-- 리뷰 유저 프로필 -->
      <div class="detail-user-profile">
        <a href="{% url 'accounts:detail' com.user.pk %}">
          <img src="{{ com.user.profile_image.url }}">
        </a>
        <a href="{% url 'accounts:detail' com.user.pk %}">
          <p>{{ com.user.name }}</p>
        </a>
      </div>
      <!-- 리뷰 코멘트 -->
      <div class="detail-user-comment">
        <!-- 날짜 -->
        <p>{{ com.created_at }}</p>
        <div>{{ com.content }}</div>
      </div>
    </div>
    <!-- 이미지 -->
    <div class="detail-user-img-box">
      {% if com.picture %}
      <img src="{{ com.picture.url }}">
      {% endif %}
    </div>
  </div>
    {% empty %}
      <p class="detail-empty">리뷰가 없어요 ㅠ_ㅠ</p>
  {% endfor %}
</div>
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
        // (1) 좋아요 버튼
        const likeBtn = document.querySelector('#like-btn')
        // (2) 좋아요 버튼을 클릭하면, 함수 실행
        likeBtn.addEventListener('click', function (event) {
            // 서버로 비동기 요청을 하고 싶음
            console.log(event.target.dataset)
            axios({
                method: 'get',
                url: `/articles/${event.target.dataset.cafeId}/bookmark/`
            })
                .then(response => {
                    if (response.data.marked === true) {
                        event.target.classList.add('bi-heart-fill')
                        event.target.classList.remove('bi-heart')
                    } else {
                        event.target.classList.add('bi-heart')
                        event.target.classList.remove('bi-heart-fill')
                    }
                    const likeCount = document.querySelector('#like-count')
                    likeCount.innerText = response.data.likeCount
                })
        })
</script>
{% endblock %}