{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block nocontainer %}
<!-- 사진 모달 -->
<div class="detail-img-box">
  <div class="detail-black">
    <img src="{{ cafe.picture3 }}" />
    <div class="detail-black-box"></div>
  </div>
  <div>
    <img src="{{ cafe.picture1 }}" />
  </div>
  <div>
    <img src="{{ cafe.picture2 }}" />
  </div>
  <div>
    <img src="{{ cafe.picture3 }}" />
  </div>
  <div class="detail-black">
    <img src="{{ cafe.picture1 }}" />
    <div class="detail-black-box"></div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="detail-box">
  <div class="d-flex justify-content-between align-items-center title-font">
    <div class="d-flex align-items-center">
      <h1 class="d-inline-block">{{ cafe.name }}</h1>
      <div class="detail-cafe-nums">
        <div class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
          </svg>
          <p>{{ cafe.hits }}</p>
        </div>
        <div class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16"
            style="color: #DE1A1A;">
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
          </svg>
          <!-- 퍼센티지로 바꿀 예정 -->
          <p>{{ cafe.score }}</p>
        </div>
        <div class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
            style="color: #e8b730;">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <p id="bookmark-count">{{ cafe.bookmarks.count }}</p>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <!-- 찜이 돼있으면 -->
      {% if request.user in cafe.bookmarks.all %}
      <!-- <i id="like-btn" data-cafe-id="{{ cafe.pk }}" class="bi bi-heart-fill"></i> -->
      <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="loop" delay="30000"
        colors="primary:#e8b730,secondary:#08a88a" style="width:70px;height:70px" id="bookmark-btn"
        data-cafe-id="{{ cafe.pk }}">
      </lord-icon>
      <!-- 찜이 안돼있으면 -->
      {% else %}
      <!-- <i id="like-btn" data-cafe-id="{{ cafe.pk }}" class="bi bi-heart"></i> -->
      <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="morph" colors="primary:#f4dc9c,secondary:#08a88a"
        style="width:70px;height:70px" id="bookmark-btn" data-cafe-id="{{ cafe.pk }}">
      </lord-icon>
      {% endif %}

      <!-- 리뷰쓰기 버튼 -->
      <a href="{% url 'articles:create_comment' cafe.pk %}" class="text-decoration-none">
        <lord-icon src="https://cdn.lordicon.com/qtqvorle.json" trigger="hover"
          colors="outline:#121331,primary:#9e816c,secondary:#f8f6f3,tertiary:#9e816c" stroke="80" axis-y="55"
          style="width:60px;height:60px">
        </lord-icon>
      </a>
    </div>
  </div>
  <!-- 테이블 -->
  <table class="cafe-table title-font">
    <tbody>
      <tr>
        <td class="th">주소</td>
        <td>{{ cafe.address }}</td>
      </tr>
      <tr>
        <td class="th">지도</td>
        <td><a href="{{ cafe.map_url }}">{{ cafe.name }} 지도보기</a></td>
      </tr>
      <tr>
        <td class="th">전화번호</td>
        <td>{{ cafe.telephone }}</td>
      </tr>
      <tr>
        <td class="th">
          <p>영업시간</p>
        </td>
        <td>{{ cafe.opening|linebreaksbr }}</td>
        <!-- <td>{{ cafe.opening }}</td> -->
      </tr>
    </tbody>
  </table>
  <!-- 해시태그 -->
  <div class="kor-font fw-bold">
    {% for tag in hashtag %}
    <div class="tags detail-tags">{{ tag }}</div>
    {% endfor %}
  </div>

  <hr class="hr">

  <!-- 리뷰 -->
  <div class="detail-review-box title-font">
    {% for com in comment %}
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start align-items-start">
        <!-- 리뷰 유저 프로필 -->
        <div class="detail-user-profile">
          <a href="{% url 'accounts:detail' com.user.pk %}">
            <!-- 프로필 사진이 있으면 -->
            {% if com.user.profile_image %}
            <img src="{{ com.user.profile_image.url }}">
            {% else %}
            <img src="{% static 'images/user.png' %}">
            {% endif %}
          </a>
          <a href="{% url 'accounts:detail' com.user.pk %}">
            <p>{{ com.user.name }}</p>
          </a>
        </div>
        <!-- 리뷰 코멘트 -->
        <div class="d-flex flex-column">
          <div class="detail-user-comment">
            <!-- 날짜 -->
            <p>{{ com.created_at }}</p>
            <!-- 컨텐츠 -->
            <div>{{ com.content }}</div>
          </div>
          <!-- 이미지 -->
          <div class="detail-user-img-box">
            {% if com.picture %}
            <img src="{{ com.picture.url }}" data-bs-toggle="modal" data-bs-target="#pictureModal">
            <div class="modal fade title-font" id="pictureModal" tabindex="-1" aria-labelledby="pictureModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body m-auto">
                    <img src="{{ com.picture.url }}" class="modal-picture">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                      style="background-color: #CEB39F;">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% if com.picture2 %}
            <img src="{{ com.picture2.url }}" data-bs-toggle="modal" data-bs-target="#picture2Modal">
            <div class="modal fade title-font" id="picture2Modal" tabindex="-1" aria-labelledby="picture2ModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body m-auto">
                    <img src="{{ com.picture2.url }}" class="modal-picture">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                      style="background-color: #CEB39F;">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% if com.picture3 %}
            <img src="{{ com.picture3.url }}" data-bs-toggle="modal" data-bs-target="#picture3Modal">
            <div class="modal fade title-font" id="picture3Modal" tabindex="-1" aria-labelledby="picture3ModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body m-auto">
                    <img src="{{ com.picture3.url }}" class="modal-picture">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                      style="background-color: #CEB39F;">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div>
        {% if request.user in com.like.all %}
        <lord-icon src="https://cdn.lordicon.com/hqrgkqvs.json" trigger="loop" delay="2000"
          style="width:50px;height:50px" id="like-btn" data-comment-id="{{ com.pk }}">
        </lord-icon>
        {% else %}
        <lord-icon src="https://cdn.lordicon.com/rjzlnunf.json" trigger="loop-on-hover" delay="2500"
          colors="primary:#121331,secondary:#9e816c" style="width:50px;height:50px" id="like-btn"
          data-comment-id="{{ com.pk }}">
        </lord-icon>
        {% endif %}
      </div>

    </div>
    {% empty %}
    <p class="detail-empty">리뷰가 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  </div>
</div>
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>


  // (1) 북마크 버튼
  const bookmarkBtn = document.getElementById('bookmark-btn')
  // (2) 북마크 버튼을 클릭하면, 함수 실행
  bookmarkBtn.addEventListener('click', function (event) {
    // 서버로 비동기 요청을 하고 싶음
    console.log(bookmarkBtn)
    axios({
      method: 'get',
      url: `/articles/${event.target.dataset.cafeId}/bookmark/`
    })
      .then(response => {
        if (response.data.marked === true) {
          // marked 되면
          event.target.setAttribute('trigger', 'loop')
          event.target.setAttribute('delay', '30000')
          event.target.setAttribute('colors', 'primary:#e8b730,secondary:#08a88a')
        } else {
          // marked 안되면
          event.target.setAttribute('trigger', 'morph')
          event.target.setAttribute('colors', 'primary:#f4dc9c,secondary:#08a88a')
          //event.target.deleteAttribute('delay')
        }
        const bookmarkCount = document.querySelector('#bookmark-count')
        bookmarkCount.innerText = response.data.bookmarkCount
      })
  })

  // (1) 좋아요 버튼
  const likeBtn = document.querySelector('#like-btn')
  // (2) 좋아요 버튼을 클릭하면, 함수 실행
  likeBtn.addEventListener('click', function (event) {
    // 서버로 비동기 요청을 하고 싶음
    console.log(event.target.dataset)
    axios({
      method: 'get',
      url: `/articles/${event.target.dataset.commentId}/like/`
    })
      .then(response => {
        if (response.data.marked === true) {
          // marked 되어있으면
          event.target.setAttribute('src', 'https://cdn.lordicon.com/rjzlnunf.json')
          event.target.setAttribute('trigger', 'loop-on-hover')
          event.target.setAttribute('delay', '2500')
          event.target.setAttribute('colors', 'primary:#121331,secondary:#9e816c')
        } else {
          // marked 안되어있으면
          event.target.setAttribute('src', 'https://cdn.lordicon.com/hqrgkqvs.json')
          event.target.setAttribute('trigger', 'loop')
          event.target.setAttribute('delay', '2000')
          event.target.removeAttribute('colors')
        }
        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.likeCount
      })
  })

// // =========================
//   if (response.data.is_like === true) {
//           const oldLordIcon = document.querySelector("#like-btn")
//           const newLordIcon = document.createElement("lord-icon")
//           newLordIcon.src = "https://cdn.lordicon.com/iwaotjbp.json"
//           newLordIcon.trigger = "morph"
//           newLordIcon.style = "width:45px;height:45px"
//           newLordIcon.id = "like-btn"
//           newLordIcon.setAttribute('data-store-id', `${event.target.dataset.storeId}`);
//           likeBtn.replaceChild(newLordIcon, oldLordIcon)
//         } else {
//           const oldLordIcon = document.querySelector("#like-btn")
//           const newLordIcon = document.createElement("lord-icon")
//           newLordIcon.src = "https://cdn.lordicon.com/rjzlnunf.json"
//           newLordIcon.trigger = "morph"
//           newLordIcon.colors = "primary:#121331,secondary:#e83a30"
//           newLordIcon.style = "width:45px;height:45px"
//           newLordIcon.id = "like-btn"
//           newLordIcon.setAttribute('data-store-id', `${event.target.dataset.storeId}`);
//           likeBtn.replaceChild(newLordIcon, oldLordIcon)
//         }

</script>
{% endblock %}