{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %} 
<!-- 로고 -->
<div class="index-logo logo-font d-flex justify-content-center align-items-center">
  <lord-icon
    src="https://cdn.lordicon.com/kbchswih.json"
    trigger="hover"
    colors="outline:#121331,primary:#9e816c,secondary:#ebe6ef"
    axis-y="45"
    axis-x="55"
    style="width:120px;height:120px">
  </lord-icon>
  
  <p class="m-0 d-inline-block">Cafe Master</p>
</div>

<!-- 검색 기능 -->
<form action="{% url 'articles:search' %}" class="search-form" method="get">
  <input type="search" class="search-input" placeholder="지역 또는 카페이름" name="searchs">
  <input type="submit" class="search-btn" value="검색">
</form>

<!-- 해시태그 -->
<form class="index-tags-div kor-font fw-bold">
  <input type="radio" id="tag1" name="tagform" class="tag-input" checked>
  <label class="tags" for="tag1">
    #감성충만한
  </label>
  <input type="radio" id="tag2" name="tagform" class="tag-input">
  <label class="tags" for="tag2">
    #디저트가맛있는
  </label>
  <input type="radio" id="tag3" name="tagform" class="tag-input">
  <label class="tags" for="tag3">
    #커피가맛있는
  </label>
  <input type="radio" id="tag4" name="tagform" class="tag-input">
  <label class="tags" for="tag4">
    #힙한
  </label>
  <input type="radio" id="tag5" name="tagform" class="tag-input">
  <label class="tags" for="tag5">
    #데이트하기좋은
  </label>
  <input type="radio" id="tag6" name="tagform" class="tag-input">
  <label class="tags" for="tag6">
    #공부하기좋은
  </label>
  <input type="radio" id="tag7" name="tagform" class="tag-input">
  <label class="tags" for="tag7">
    #이색적인
  </label>
  <input type="radio" id="tag8" name="tagform" class="tag-input">
  <label class="tags" for="tag8">
    #뷰가좋은
  </label>
</form>

<div class="index-container kor-font">
<!-- 캐러셀 -->
  <div class="index-tag-img-div swiper-container">
    <div class="swiper-wrapper">
      {% for swiper in swiper_list %}
        <a href="{% url 'articles:detail' swiper.pk %}" class="swiper-slide"><img src="{{ swiper.picture1.url }}"></a>
      {% endfor %}
    </div>
    <!-- 페이징 -->
    <div class="swiper-pagination"></div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="swiper-button-prev bi bi-caret-left-fill index-arrow" viewBox="0 0 16 16">
      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="swiper-button-next bi bi-caret-right-fill index-arrow" viewBox="0 0 16 16">
      <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
    </svg>
  </div>
</div>


<div class="index-article-container title-font">
  <article>
    <div class="index-title">
      <h2>카페마스터가 추천하는</h2>
      <a href="{% url 'articles:viewmore' 1 %}"><h3>더보기</h3></a>
    </div>
    <div class="index-content">
      {% for recommendcafe in recommend_list %}
        <div>
          <a href="{% url 'articles:detail' recommendcafe.pk %}">
            <img src="{{ recommendcafe.picture1.url }}">
          </a>
          <div class="index-content-cafe-info title-font">
            <a href="{% url 'articles:detail' recommendcafe.pk %}">
              <h2>
                {{ recommendcafe.name }}<span class="index-message"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg><span>{{ recommendcafe.1.comment_set.all.count }}</span></span>
              </h2>
            </a>
            <h3>
              {{ recommendcafe.address }} | <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-suit-heart-fill index-heart" viewBox="0 0 16 16">
                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
              </svg> 99%
            </h3>
          </div>
        </div>

    {% endfor %}
    </div>
  </article>

  <article>
    <div class="index-title">
      <h2>나와 가까운</h2>
      <a href="{% url 'articles:viewmore' 2 %}"><h3>더보기</h3></a>
    </div>
    <div class="index-content">
      {% for closecafe in closecafe_list %}
        <a href="{% url 'articles:detail' closecafe.pk %}">
          <img src="{{ closecafe.picture1.url }}">
        </a>
      {% endfor %}
    </div>
  </article>

  <article>
    <div class="index-title">
      <h2>후기가 많은</h2>
      <a href="{% url 'articles:viewmore' 3 %}"><h3>더보기</h3></a>
    </div>
    <div class="index-content">
      {% for commentcafe in commentcafe_list %}
        <a href="{% url 'articles:detail' commentcafe.pk %}">
          <img src="{{ commentcafe.picture1.url }}">
        </a>
      {% endfor %}
    </div>
  </article>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<script>
new Swiper('.swiper-container', {

slidesPerView : 3, // 동시에 보여줄 슬라이드 갯수
spaceBetween : 0, // 슬라이드간 간격
slidesPerGroup : 3, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

// 그룹수가 맞지 않을 경우 빈칸으로 메우기
// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
loopFillGroupWithBlank : true,

loop : true, // 무한 반복

pagination : { // 페이징
  el : '.swiper-pagination',
  clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
},
navigation : { // 네비게이션
  nextEl : '.swiper-button-next', // 다음 버튼 클래스명
  prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
},
});
</script>
{% endblock %}