{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %} 
<!-- 로고 -->
<div class="index-logo logo-font d-flex justify-content-center align-items-center">
  <lord-icon
    src="https://cdn.lordicon.com/kbchswih.json"
    trigger="hover"
    colors="outline:#121331,primary:#9e816c,secondary:#ebe6ef"
    axis-y="45"
    axis-x="55"
    style="width:120px;height:120px">
  </lord-icon>
  
  <p class="m-0 d-inline-block">Cafe Master</p>
</div>

<!-- 검색 기능 -->
<form action="{% url 'articles:search' %}" class="search-form" method="get">
  <input type="search" class="search-input" placeholder="지역 또는 카페이름" name="searchs">
  <input type="submit" class="search-btn" value="검색">
</form>

<div class="index-article-container title-font">
<article>
<div class="index-title">
    <h2>후기가 많은</h2>
</div>
<div class="index-content">
    {% for cafe in commentcafe %}
    <div>
        <a href="{% url 'articles:detail' cafe.pk %}">
        <img src="{{ cafe.picture1.url }}">
        </a>
        <div class="index-content-cafe-info title-font">
        <a href="{% url 'articles:detail' cafe.pk %}">
            <h2>
            {{ cafe.name }}<span class="index-message"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg><span>{{ cafe.1.comment_set.all.count }}</span></span>
            </h2>
        </a>
        <h3>
            {{ cafe.address }} | <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-suit-heart-fill index-heart" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
            </svg> 99%
        </h3>
        </div>
    </div>

{% endfor %}
</div>
</article>


{% endblock body %}